<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Parascan0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Parascan0.Properties.Settings.QMIRAConnectionString"
      connectionString="Data Source=QMIRA00001;Initial Catalog=QMIRA;Persist Security Info=True;User ID=sa;Password=he110;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="KEY_DATABASECONNECTION_SQLSERVER" value="Data Source=QMIRA00001;Initial Catalog=QMIRA;User=sa;Password=he110;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <Parascan0.Properties.Settings>
      <setting name="STRING_FILECONFIG" serializeAs="String">
        <value>Settings.ini</value>
      </setting>
      <setting name="STRING_ORGANIZATIONID" serializeAs="String">
        <value>QMI</value>
      </setting>
      <setting name="STRING_LOCATIONID" serializeAs="String">
        <value>43085</value>
      </setting>
      <setting name="STRING_CONDITIONID" serializeAs="String">
        <value>FECL</value>
      </setting>
      <setting name="STRING_PATHICONS" serializeAs="String">
        <value>Icons</value>
      </setting>
      <setting name="STRING_PATHIMAGES" serializeAs="String">
        <value>Images</value>
      </setting>
      <setting name="STRING_ORGANIZATIONIMAGE" serializeAs="String">
        <value>ImageOrganization.jpg</value>
      </setting>
      <setting name="STRING_PATHREPORTS" serializeAs="String">
        <value>Reports</value>
      </setting>
      <setting name="STRING_LOGOIMAGE" serializeAs="String">
        <value>imageAntechLogo_WhiteOnBlue.jpg</value>
      </setting>
      <setting name="STRING_COMPORT" serializeAs="String">
        <value>COM5</value>
      </setting>
      <setting name="STRING_DEFAULTUSERNAME" serializeAs="String">
        <value>vettech</value>
      </setting>
      <setting name="INTEGER_SLIDEFOCUSPOINTS" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BOOLEAN_ISSAVEFOCUS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="STRING_PROCESSINGEXECUTABLE" serializeAs="String">
        <value>C:\Projects\Parascan1.Processing\Parascan1.Processing.exe</value>
      </setting>
      <setting name="INTEGER_REPETITIONS" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="INTEGER_RED" serializeAs="String">
        <value>19</value>
      </setting>
      <setting name="BOOLEAN_ISPRINTINGENABLED" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BOOLEAN_ISGIARDIASCAN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="INTEGER_SLIDECOLUMNS" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="INTEGER_SLIDEROWS" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="INTEGER_AUTOFOCUSCOLUMNS" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="INTEGER_AUTOFOCUSROWS" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="INTEGER_GREEN" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BOOLEAN_ISLIVESCAN" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BOOLEAN_ISTRAINING" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="INTEGER_BLUE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DOUBLE_EXPOSURE" serializeAs="String">
        <value>1.8</value>
      </setting>
      <setting name="STRING_PATHCASES" serializeAs="String">
        <value>C:\Images\TilesVeterinaryFecals</value>
      </setting>
      <setting name="INTEGER_SPLASHSCREENTIME" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="BOOLEAN_ISENABLEDEDITRESULT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="STRING_HELPEXECUTABLE" serializeAs="String">
        <value>C:\Program Files (x86)\TeamViewer\TeamViewer.exe</value>
      </setting>
      <setting name="STRING_PATHINSTRUCTIONSFILE" serializeAs="String">
        <value>C:\Projects\Parascan0\Reports\QMIRA_SamplePrepSOP.pdf</value>
      </setting>
      <setting name="BOOLEAN_ISVALIDATEDSLIDE" serializeAs="String">
        <value>True</value>
      </setting>
    </Parascan0.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>