<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Parascan1.Processing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Parascan1.Processing.Properties.Settings>
            <setting name="BOOL_ISTRAINING" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STRING_PATHIMAGES" serializeAs="String">
                <value>C:\Temp\Images</value>
            </setting>
            <setting name="KEY_CACHE_APPLICATION_TILES_BATCHPREFIX" serializeAs="String">
                <value>DATE </value>
            </setting>
            <setting name="KEY_DATABASECONNECTION_SQLSERVER" serializeAs="String">
                <value>Data Source=QMIRA_SERVER_02;Initial Catalog=QMIRA;Trusted_Connection=Yes;Connection Timeout=0;</value>
            </setting>
            <setting name="BOOL_ISTRAININGDATABASE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STRING_LOCATIONID" serializeAs="String">
                <value>43085</value>
            </setting>
            <setting name="BOOL_ISPERFORMANCEREALTIME" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BOOL_ISKEPTPOSITIVESONLY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BOOL_ISSAVEDIMAGES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BOOL_ISFILTEREDPARASITES" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KEY_CACHE_APPLICATION_THREADS" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="INTEGER_CELLTYPE_START" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="INTEGER_CELLTYPE_END" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="INTEGER_LIMITPOSITIVES" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="BOOL_ISKEPTPOSITIVES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STRING_PATHCASES" serializeAs="String">
                <value>C:\Images\TilesVeterinaryFecals\TOXOCARA_FALSENEGATIVE</value>
            </setting>
            <setting name="INTEGER_IMAGES_COLUMNS" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="INTEGER_IMAGES_ROWS" serializeAs="String">
                <value>12</value>
            </setting>
        </Parascan1.Processing.Properties.Settings>
    </applicationSettings>
  
</configuration>